img.CEO-img {
    width: 100%;
}

.CEO .container {
    max-width: none;
    padding: 0;
}
.CEO-btn {
    position: absolute;
    /* margin: 0 auto; */
    /* width: 100%; */
    left: 53%;
    bottom: 5%;
}

.CEO-content {
    position: relative;
}