.coaching-mentoring-block {
    /* background: #f1f6f9; */
    /* padding: 60px 40px; */
    /* font-family: 'Arial', sans-serif; */
    /* position: relative; */
    display: flex;
    flex-direction: row;
    padding: 100px 0px;
  }
  

  .left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 40px;
  }
  
  .vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 24px;
    font-weight: bold;
    position: relative;
  }
  
  .highlight {
    background: #ffa200;
    color: #fff;
    padding: 2px 6px;
    border-radius: 6px;
  }
  
  .circle-text {
    margin-top: 30px;
    font-size: 12px;
    letter-spacing: 2px;
    transform: rotate(-90deg);
    opacity: 0.6;
  }
  
  .right-column {
    flex: 3;
    display: flex;
    gap: 40px;
  }
  
  .card {
    position: relative;
    width: 33%;
    left: 100px;
  }
  
  .card-number {
    font-size: 152px;
    color: #0000005e;
    position: absolute;
    top: 60px;
    left: -50px;
    z-index: 4;
  }
  
  .card-image {
    height: 710px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    color: white;
    z-index: 2;
    overflow: hidden;
  }
  
  .triangle-cut::after {
    /* content: ''; */
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 100%;
    background: #f1f6f9;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    z-index: 3;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    position: relative;
    z-index: 4;
  }
  

  .card-text {
    margin-top: 16px;
    font-size: 30px;
    line-height: 1;
    color: #333;
    font-family: sans-serif;
  }
  .for-title {
    display: flex;
}

.card.card-cou-2 {
    top: 120px;
    left: 70px;
    z-index: 99;
    height: 700px;
}

.card-cou-2 .card-number {
    left: 100px;
}
.for-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 200px 0px 50px 0px;
}

.coaching-cards {
  display: flex;
  flex-direction: row;
}
.for-img-mobile {
  display: none;
}

.for-img{
  display: block;
}

  @media (max-width: 1024px) {
    .for-img {
      display: none;
    }

    .for-img-mobile {
      display: block;
      scale: 0.7;
    }
    .for-title {
      display: flex;
      flex-direction: column;
      scale: 0.9;
    }
    .for-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .right-column {
      flex-direction: column;
    }
    .left-column {
      padding-right: 0;
      margin-bottom: 40px;
    }
    .card-number {
      font-size: 120px;
      left: -30px;
      top: 40px;
    }
  }

@media (max-width: 360px) {
  .coaching-cards {
    flex-direction: column;
  }

  .coaching-mentoring-block {
    width: 100%;
  }

  .for-title {
    width: 100%;
  }

  .card {
    width: 100%;
    left: 0;
  }

  .card.card-cou-1 > .card-image {
    width: 80%;
    height: 350px;
  }

  .card.card-cou-2 {
    top: 0;
    left: 0;
  }

  .card.card-cou-2 >img {
    height: 377px;
  }

  .card.card-cou-2 {
    height: auto;
  }

  .card-text {
    font-size: 18px;
  }

  .for-img-mobile {
    scale: 1;
  }
  .card-cou-2 .card-number {
    left: 10px;
  }

  .for-bottom {
    margin: 0;
    margin-bottom: 60px;
  }

  .for-bottom > img{
    width: 80%;
  }
}
