section#hero {
    background-image: url(/assets/img/hero-back.png);
    height: 80vh;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
}

.hero {
    height: 100%;
}

.hero-right {
    width: 50%;
}

.hero-content {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
}

h1.hero-title {
    font-size: 82px;
    font-weight: 500;
    line-height: 0.9;
}

p.hero-subtitle {
    font-size: 48px;
}

.hero-left-bottom-contact {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    color: #4548F5;
}

.hero-left-bottom {
    position: absolute;
    bottom: 20px;
}

img.hero-right-img {
    width: 100%;
    pointer-events: none;
}

.contact-text {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero-mobile-navbar {
    display: none;
    position: absolute;
    padding: 10px;
    left: 0;
    top: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.hero-mobile-logo {
    display: none;
    width: 100%;
    justify-content: center;
}

.hero-mobile-logo > img {
    width: 130px;
}


@media (max-width: 1024px) {
    section#hero {
        margin: 0;
        border-radius: 0;
    }
    .container.hero {
        padding: 30px;
    }
    .hero-mobile-navbar {
        display: flex;
    }
}

@media (max-width: 360px) {
    section#hero {
        background-image: url(/assets/img/new/mobile-bg-hero.png);
        background-position: left;
    }
    .hero-content {
        width: 100%;
    }
    .container.hero {
        padding: 10px;
    }
    .hero-left-bottom-contact {
        display: flex;
        flex-direction: column;
        margin-top: auto;
    }
    .hero-right {
        display: none;
    }

    p.hero-subtitle {
        font-size: 24px ;
    }

    h1.hero-title {
        font-size: 38px;
    }
    .hero-left {
        width: 100%;
        padding-top: 100px;
        justify-content: start;
    }

    .hero-left-bottom {
        width: 100%;
        justify-content: center;
    }

    .hero-left-bottom-contact {
        gap: 10px;
    }

    .hero-left-top {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 75%;
    }

    .hero-mobile-logo {
        display: flex;
    }

    .hero-button {
        margin-top: auto;
    }

}