.mobile-menu {
    display: none;
    position:fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    flex-direction: column;
    align-items: end;
    background: url(/assets/img/new/mobile-bg.png);
    background-position: center;
    background-size: cover;
    background-color: #f3fbfe;
}

.hero-mobile-navbar-left .tablet {
    display: block;
}

.hero-mobile-navbar-left .mobile {
    display: none;
}

.mobile-menu.visible {
    display: flex;
}

.mobile-menu-options {
    display: flex;
}

.mobile-menu .hero-mobile-navbar {
    position: relative;
}

.mobile-menu-options {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 30px;
}

.mobile-menu-phones {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    gap: 10px;
    padding: 20px 0;
    border-top: 1px solid #ff9700;
    border-bottom: 1px solid #ff9700;
    margin-top: 20px;
}

.mobile-menu-option {
    font-size: 48px;
    font-weight: 380;
    text-align: end;
}

.mobile-menu-phone {
    font-size: 48px;
    font-weight: 380;
}

.mobile-menu-phone:last-child {
    font-weight: 600;
}

.mobile-menu-button {
    margin-right: 30px;
    margin-top: 100px;
}

@media (max-width: 360px) {
    .mobile-menu-option {
        font-size: 24px;
    }
    .mobile-menu-phone {
        font-size: 24px;
    }

    .mobile-menu-button {
        margin-top: 40px;
    }

    .hero-mobile-navbar-left .tablet {
        display: none;
    }

    .hero-mobile-navbar-left .mobile {
        display: flex;
    }

    .hero-mobile-navbar-left > img {
        width: 125px;
    }
    .hero-mobile-navbar-right > img{
        width: 125px;
    }
}
